.mainHead{
    background-color: rgb(3, 85, 85);
    color: white;
    margin: 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-evenly;
    /* width: 300px; */
    background-color: black;
}

.display{
    border-radius: 10px;
    box-shadow: 0 4px 15px 0  rgb(6, 178, 205); 
    padding: 15px;
    font-size: 20px;
    height: 350px;
    width: 210px;
    margin-bottom: 30px;
    margin-right: 30px;
    background-color: white;
}

.text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0px;
    /* color: aqua; */
    font-weight: lighter;
    margin-left: 5px;
}

.textHead{
    font-size: 25px;
    font-weight: bold;
}



button{
    background-color: rgb(114, 255, 255);
    border: 1px solid rgb(2, 67, 52);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
img{
    margin: 3px;
    margin-left: 10px;
}

.center{
    display: flex;
    justify-content: center;
}
